<h1> New Restaurant </h1>

<%= simple_form_for @restaurant do |f| %>

 <div>
  <div class="form">
    <%= f.label :title %>
    <%= f.input :title, class: 'form-control' %>
  </div>

  <div class="forms">
    <%= f.label :content %>
    <%= f.input :content, class: 'form-control' %>
  </div>

  <%= f.submit value = "Create Article", class: 'btn btn-primary' %>
  <% end %>
</div>

<div>
  <%= link_to "Back" , articles_path %>
</div>

