<div class="home-card">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= restaurant.category %></td>
          <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, restaurant %></td>
          <td><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, restaurant,
          method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="home-card">
  <%= link_to '+ Add new Restaurant', new_restaurant_path, class: 'btn-flat' %>
</div>
