<%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, restaurants_path %>
<div class="home-card">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @restaurant.name %></td>
          <td><%= @restaurant.address %></td>
          <td><%= @restaurant.phone_number %></td>
          <td><%= @restaurant.category %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="map-card">
  <iframe src="<%= @restaurant.map %>"
    width="800" height="300" frameborder="0"
    style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0">
  </iframe>
</div>

